<div class="centering-container">
<select class='select-plage' #plageSelector
        (change)='handlePlageSelection(plageSelector.value)'>
  <option [selected]="!(starterIsComplete)" disabled>Choisissez une plage</option>
  <option class='option'
          *ngFor='let plage of plages'
          [selected]="starterIsComplete && (plage.nom == plageRetour.nom)"
          [value]="plage.nom">{{plage.nom}} (gerée par
            {{plage.concessionnaire.prenom}}
    {{plage.concessionnaire.nom}}
          )</option>
</select>



<mat-form-field>
  <mat-label>Date de début</mat-label>
  <input matInput [min]="minDate" [matDatepicker]="pickerDebut"
         [matDatepickerFilter]="dateDebutFilter"
         [value]="dateDebutRetour"
         (dateChange)="handleDateDebutChange($event)"
  >
  <mat-hint> </mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="pickerDebut"></mat-datepicker-toggle>
  <mat-datepicker #pickerDebut></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Date de fin</mat-label>
  <input matInput [min]="minDate" [matDatepicker]="pickerFin"
         [matDatepickerFilter]="dateFinFilter"
         [value]="dateFinRetour"
         (dateChange)="handleDateFinChange($event)"
  >
  <mat-hint> </mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
  <mat-datepicker #pickerFin></mat-datepicker>
</mat-form-field>
<br>
<app-parasol-chooser *ngIf="starterIsComplete" [chooser]="parasolChooser"></app-parasol-chooser>

</div>
