.navbar-below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 10px 20px;
  color: white;
}

.navbar-below button {
  display: inline-block;
  margin-top: 10px;
  padding: 15px;
  border: none;
  /* background-color: transparent; */
  color: black;
}

.navbar-below button:hover {
  background-color: #333333;
  color: #efefef;
}


.navbar-below .active-link {
  background-color: #333333;
  color: #efefef;
}

