<div class="centering-container">

<button *ngIf="isEditable"
  (click)="treatReservation(true)"
  type="button"
  class="btn btn-success"
>Accepter</button>

<button *ngIf="isEditable"
  (click)="treatReservation(false)"
  type="button"
  class="btn btn-danger"
>Refuser</button>
<br>
Réservation numéro {{ reservation.reservationId }} <span *ngIf="isEditable">, à traiter </span> <br>

Plage {{ reservation.plage.nom }} <br>

<span> Client :
  {{ reservation.client.prenom}}
  {{ reservation.client.nom | uppercase}}
  {{ reservation.client.email}}
</span>
<br>


Date début : {{ reservation.dateDebut | frenchDate }} <br>

Date fin : {{ reservation.dateFin | frenchDate }} <br>

Parasols : <br>

<ul class="no-marker" *ngFor="let affectation of reservation.affectations">
  <li > File {{affectation.file.numero}},
    {{affectation.file.prixJournalier | frencheuro }},
    place {{affectation.numEmplacement}},
    {{ affectation.equipement.nom }}
  </li>
</ul>
<br>

Prix total <span *ngIf="reservation.lienDeParente.noDiscount">avant remise</span> :
{{totalPrice | frencheuro }}<br>
<div *ngIf="reservation.lienDeParente.noDiscount">
  Réduction familiale : {{ reservation.lienDeParente.coefficient }} <br>
  Total final : {{totalPrice | frencheuro}} x {{ reservation.lienDeParente.coefficient }} =
  {{totalPrice*reservation.lienDeParente.coefficient | frencheuro }}
</div>

Payée avec la carte bleue numéro {{ reservation.numeroCarte }}, expirant le
{{ reservation.moisExpiration | number:'2.0' }}/{{ reservation.anneeExpiration }}
</div>
