.centering-container {
  max-width: 400px; /* Adjust max-width as needed */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  border: 2px solid #333;
}

.flashMessage{
  position: absolute;
  top: 12px;
  left: 50%;
  width: 350px;
  z-index: 1000000;
  pointer-events: none;
  background: #058405;
  text-align: center;
  padding: 5px 3px;
  border-radius: 5px;
  color: #fff;
  font-size:14px;
}
.animateCss{
  -webkit-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out ;
  -o-transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
  opacity: 0;
}
.showFlashMessage{
  opacity: 2;
}
