<div class="centering-container">
  <div class="form-signin w-100 m-auto">
    <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Vos coordonnées</h3>

      <label>Nom</label>
      <div class="mb-3">
        <input formControlName="nom" type="text" placeholder="Nom" class="formControl" required/>
      </div>
      <div
        *ngIf="errorMessageNecessaryForFormElement('nom')"
        class="alert alert-danger"
      >
        <div *ngIf="formElementHasError('nom','required')"> Le nom est obligatoire.</div>
        <div *ngIf="formElementHasError('nom','pattern')"> Le nom ne doit que contenir que des lettres, des espaces et
          des tirets
        </div>
      </div>

      <label>Prénom</label>
      <div class="mb-3">
        <input formControlName="prenom" type="text" class="formControl" placeHolder="Prénom" required/>
      </div>
      <div
        *ngIf="errorMessageNecessaryForFormElement('prenom')"
        class="alert alert-danger"
      >
        <div *ngIf="formElementHasError('prenom','required')"> Le prénom est obligatoire.</div>
        <div *ngIf="formElementHasError('prenom','pattern')"> Le prénom ne doit que contenir que des lettres, des
          espaces et des tirets
        </div>
      </div>

      <label>Email</label>
      <div class="mb-3">
        <input formControlName="email" type="email" class="formControl" placeHolder="email" required/>
      </div>

      <div
        *ngIf="errorMessageNecessaryForFormElement('email')"
        class="alert alert-danger"
      >
        <div *ngIf="formElementHasError('email','required')"> L'email est obligatoire.</div>
        <div *ngIf="formElementHasError('email','pattern')"> L'email est invalide.</div>
      </div>

      <label >Mot de passe</label>
      <div class="mb-3">
        <input formControlName="motDePasse" type="password" class="formControl"
               minlength="6" maxlength="58" required/>
      </div>

      <div
        *ngIf="errorMessageNecessaryForFormElement('motDePasse')"
        class="alert alert-danger"
      >
        <div *ngIf="formElementHasError('motDePasse','required')"> Le mot de passe est obligatoire.</div>
        <div *ngIf="formElementHasError('motDePasse','minlength')"> Le mot de passe est trop court.</div>
        <div *ngIf="formElementHasError('motDePasse','maxlength')"> Le mot de passe est trop long.</div>
      </div>

      <label for="pays">Pays</label>
      <div class="mb-3">
        <select formControlName="pays" id="pays">
          <option value="" disabled>Choisissez un pays</option>
          <option *ngFor="let country of countries" [value]="country.code">
            {{ country.nom }} ({{ country.code }})
          </option>
        </select>
      </div>


      <div class="d-grid">
        <button [disabled]="!signupForm.valid" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
