<nav class="navbar">
  <span class="logo">{{ storage.currentUser.prenom }} {{ storage.currentUser.nom | uppercase }}
    (Client) </span>
  <button
    (click)="logout()"
    *ngIf="this.authService.isLoggedIn"
    type="button"
    class="btn btn-danger"
  >Déconnexion </button>
</nav>
<button
  (click)="goToLoginPage()"
  *ngIf="!(this.authService.isLoggedIn)"
  type="button"
  class="btn btn-primary"
>Connexion </button>

<nav class="navbar-below">
  <button [routerLink]="['list']" routerLinkActive="active-link">Liste</button>
  <button [routerLink]="['detail']" routerLinkActive="active-link" disabled >Détail</button>
  <button [routerLink]="['start-reservation']" routerLinkActive="active-link" >Réserver</button>
  <button [routerLink]="['review-reservation']" routerLinkActive="active-link" >Confirmer</button>
  <button [routerLink]="['pay-reservation']" routerLinkActive="active-link" >Payer</button>
</nav>

<router-outlet></router-outlet>
